
* {
	padding:0;
	margin:0;
}

body {
	background:#fff;
}


.grid-container {
	display: grid;
	width: 50%;
	grid-template-columns:50% 50%;
	grid-template-rows: auto auto;
	padding: 10px;
	margin-left: 10%;
  }
  
  .grid-container > div {
	background-color: #fff;
	text-align: justify;
	padding: 5px 20px 20px;
	font-size: 15px;
  }




p {
	color: #6b6b6b;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 150%;
	text-align:justify;
}


h1{
	font-family:'Courier New', Courier, monospace;
	font-size:25x;
	line-height:76px;
	margin:0px;
	color: #6b6b6b;
}


h2{
	font-family: 'Montserrat', sans-serif;
	font-size:29px;
	color:#372d38;
	line-height:57px;
	padding-bottom:10px;
	font-weight:400;
	text-transform:uppercase;
	margin:0px;
}



ul {color: #6b6b6b;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 150%;
	text-align:justify;
	padding-left: 2%;
	margin-top: 2%;
	margin-bottom: 2%;

}

