
* {
	padding:0;
	margin:0;
}

body {
	background:#fff;
}


p {
	color: #6b6b6b;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 150%;
	text-align:justify;
}




table {
	border-collapse: collapse;
	border-spacing: 0;
	border-width: thin 0 0 thin;
	margin: 0 0 1em;
	table-layout: auto;
	max-width: 70%;
  }
  
  td {

	min-width:50%;
  }


#col1 {
	
	
    max-width: 60%;
	margin-left: 10%;
	padding-bottom: 2%;
	
}


#col2 {
	
	max-width: 60%;
	margin-left: 10%;
	
}


h1{
	font-family:'Courier New', Courier, monospace;
	font-size:25x;
	line-height:76px;
	margin:0px;
	color: #6b6b6b;
}


h2{
	font-family: 'Montserrat', sans-serif;
	font-size:29px;
	color:#372d38;
	line-height:57px;
	padding-bottom:10px;
	font-weight:400;
	text-transform:uppercase;
	margin:0px;
}



ul {color: #6b6b6b;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 150%;
	text-align:justify;
	padding-left: 2%;
	margin-top: 2%;
	margin-bottom: 2%;

}